.square { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;  
}
.board-row { 
    display: flex;
    position: relative;
}

.board-wrapper { 
   
    margin-top: 50px;
    background-color: #44425e;
    border-radius: 5px;
}
.container { 
    
    max-width: 700px;
    margin: 0 auto;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}


.board-row::before { 
    position: absolute;
    bottom: 0;
    left: -7.5px;
    content: "";
    width: 315px;
    height: 5px;
    background-color: #af56c7;
    border-radius: 10px;
}
.bg::before { 
    display: none;
}
.middle::before {
    z-index: 20;
    position: absolute;
    bottom: 47.5px;
    left: -59px;
    content: "";
    width: 315px;
    height: 5px;
    background-color: #af56c7;
    border-radius: 10px;
    transform: rotate(-90deg);
}
.middle::after {
    z-index: 20;
    position: absolute;
    bottom: 47.5px;
    left: 42px;
    content: "";
    width: 315px;
    height: 5px;
    background-color: #af56c7;
    border-radius: 10px;
    transform: rotate(-90deg);
}


.cross:before, .cross:after {
    position: absolute;
    content: ' ';
    height: 90px;
    width: 10px;
    background-color: #c4c4c4;
}
.cross:before {
transform: rotate(45deg);
}
.cross:after {
transform: rotate(-45deg);
}


.zero:before {
    position: absolute;
    top: 10px;
    content: ' ';
    height: 65px;
    width: 65px;
    border: #c4c4c4 solid 7px;
    border-radius: 50%;
    z-index: 5;
}


